<!-- <h2 class="title">Stranger Things</h2><div> -->
    <!-- <app-content-card *ngFor="let item of strangerthings; index as i; first as isFirst; odd as odd; even as even;" [char]="item" -->
      <!-- class="stranger-{{i+1}}"  [class.is-odd]="odd" [class.is-even]="even"> -->
    <!-- </app-content-card> -->
<!-- </div> -->

<h3 class="title">Type-Superhuman</h3>
<div *ngFor="let item of (strangerthings | type); index as i; first as isFirst; odd as odd; even as even;" >
  <app-content-card *ngIf="item.type=='Superhuman'" [char]="item" 
  class="chess-player-{{i}}" class="super" >
</app-content-card>
</div>

<h3 class="title">Type-Human</h3>
<div *ngFor="let item of (strangerthings | type); index as i; first as isFirst; odd as odd; even as even;" >
  <app-content-card *ngIf="item.type=='Human'" [char]="item" 
   class="chess-player-{{i}}" class="human">
 </app-content-card>
 </div>

 <h3 class="title">Type-Not Found</h3>
 <div *ngFor="let item of (strangerthings | type); index as i; first as isFirst; odd as odd; even as even;" >
  <app-content-card *ngIf="item.type==''" [char]="item" 
   class="chess-player-{{i}}" class="nothing">
 </app-content-card>
 </div>


