:host{
display: block;
width: 500px;
padding: 10px;
margin: 10px auto;
text-align: center;
border: 2px solid rgb(255, 101, 101);

&.is-even {
 background-color: rgb(114, 114, 114);
}
&.is-odd{
background-color: rgb(255, 255, 255);
}

.body{
margin-top: 3px;    
border-style: solid;
border-width: 2px;
padding: 10px;
border-color:darkslateblue;
background-color: aqua;
}

img{
width: 20em;
border: 3px solid rgb(0, 29, 133);
}

.type{
border-style: solid;
border-width: 2px;
padding: 10px;
border-color:darkslateblue;
background-color: darksalmon;
}

.author{
margin-top: 2px;
border-style: solid;
border-width: 2px;
padding: 10px;
border-color:darkslateblue;
background-color:goldenrod;
}

.hashtag{
margin-top: 2px;
border-style: solid;
border-width: 2px;
padding: 10px;
border-color:darkslateblue;
background-color: lightpink;
}
}