:host {
    background-color: aquamarine;
    border-bottom: 1px solid #000;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding: 8px;
  
    li {
      display: inline-block;
  
      a {
        padding: 16px;
        display: inline-block;
  
        &:hover,
        &.active {
          background-color: #444;
          color: white;
        }
  
      }
    }
  }
  
  .active {
    color: green;
  }